{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="col-md-3">
        <ul class="list-group">
            <div id="btn_new">
                <a href="" data-toggle="modal" data-target="#exampleModal" class="btn btn-info" >Nouveau type contrat</a>
            </div>
            <!-- Add Department Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="list-group-item active">
                            <h5 class="modal-title" id="exampleModalLabel"><strong>Nouveau type de contrat</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> <!-- /modal header -->
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <br>
                                <button type="submit" class="btn btn-info">
                                    Enregistrer
                            </button>
                            </form>
                        </div>
                        <!-- /modal body -->
                    </div>
                </div>
            </div>
        </ul>
    </div> <!-- /sidebar -->



    <h3 align="center"><strong>LISTE DES TYPES DE CONTRATS</strong></h3>
    <div class="table-responsive" style="overflow-x:auto;">
        <table class="table table-striped" id="myTable" name="myTable">
            <thead>
                <tr align="center">
                    <th>TYPE DE GARANTIE</th>
                    <th>CATEGORIE</th>
                    <th>DUREE (en jours)</th>
                    <th>MONTANT DU CONTRAT</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for typeContrat in list_TypeContrat %}
                    <tr align="center">
                        <td>{{ typeContrat.garantie}}</td>
                        <td>{{ typeContrat.categorie}}</td>
                        <td>{{ typeContrat.duration }}</td>
                        <td>{{ typeContrat.montant_du_contrat }}</td>
                        <td>
                            <a href="{% url 'assurance_auto:Edit_typeContrat' typeContrat.id %}" class="btn btn-warning">Modifier</a>
                        </td>
                       
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#myTable thead tr').clone(true).appendTo('#myTable thead');
        $('#myTable thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
            $('input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        var table = $('#myTable').DataTable( {
            orderCellsTop: true,
            fixedHeader: true
            } );
        } );
    </script>
    
{% endblock content %}